<button class="btn btn-primary" onclick={{action toast.clear}}>Clear Messages</button>

<button class="btn btn-success" {{action 'saveText' model.code}}>Save JSON</button>

{{monaco-editor language="json" code=model.code
  onChange=(action "codeChanged")}}